<div class="container">
    <div class="page pt-5">
        <h1 class="d-flex justify-content-center pb-5 ease-in" style="display:none;">TROPICAL DESTINATION</h1>
        <div class="whitebox p-lg-5 p-md-4 p-sm-3 mb-5 row">
            <div class="col-lg-6">
                <p class="ease-in" style="display:none;">            Escape to paradise with our incredible tropical vacation destination package! Whether you're looking for pristine beaches, lush rainforests, or vibrant cultures, we have the perfect getaway for you. Picture yourself sipping a refreshing cocktail on a white sandy beach, surrounded by crystal-clear turquoise waters. Explore hidden gems and discover the wonders of tropical destinations like Bali, Hawaii, Maldives, and Costa Rica. Immerse yourself in the vibrant local cultures, sample delicious exotic cuisines, and indulge in thrilling water sports and outdoor activities. With our carefully curated vacation packages, you can relax and unwind in luxurious resorts or embark on thrilling adventures like hiking, snorkeling, or island hopping. Don't miss out on the opportunity to create unforgettable memories in these tropical paradises. Book your dream vacation now and let us take care of all the details, ensuring a stress-free and unforgettable experience.</p>
            </div>
            <div class="col-lg-6">
                <img class="ease-in" style="display:none;" src="images/xp.jpg" width="100%" height="auto"/>
            </div>
        </div>
    </div>
</div>