<div class="container">
    <div class="page pt-5">
        <h1 class="d-flex justify-content-center pb-5" style="display:none;">Login</h1>
        <div class="whitebox p-lg-5 p-md-4 p-sm-3 mb-5 row">
            <div class="col"></div>
            <div class="col">
                <form id="login">
                    <label for="password">Password:</label>
                    <input id="password" name="password" type="text" placeholder="Enter key here" required/>
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>